<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin felület</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="style/admin.css" />
  </head>
  <body>
    <div id="admin">
      <h1>Admin felület</h1>
      <div v-if="!user">
        Nincs bejelentkezve.
        <button @click="login">Bejelentkezés</button>
      </div>

      <div v-else id="else">
        <div>
          Üdvözlöm az admin felületen, {{ user.rvFelhasznalonev }}!
          <button @click="logout" class="logout-button">Kijelentkezés</button>
          <button @click="goToIndex" class="admin-button">
            Vissza a főoldalra
          </button>
        </div>
        <div id="adminUzenetek">
          <h2>Beérkezett üzenetek</h2>
          <div v-if="uzenetek.length === 0">Nincs beérkezett üzenet.</div>
          <div v-else class="uzenet-lista scrollable-list">
            <ul>
              <li
                v-for="uzenet in uzenetek"
                :key="uzenet.uzenetID"
                class="uzenet-box"
              >
                <h3>{{ uzenet.rvNEV }}</h3>
                <b>Típus: </b>{{ uzenet.tipus }}
                <p>{{ uzenet.tartalom }}</p>

                <button
                  v-if="uzenet.allapot === 'uj'"
                  @click="elolvasva(uzenet.uzenetID)"
                >
                  Elolvasva
                </button>
                <button
                  v-else-if="uzenet.allapot === 'folyamatban'"
                  @click="feldolgozva(uzenet.uzenetID)"
                >
                  Feldolgozva
                </button>
                <span v-else-if="uzenet.allapot === 'megoldva'">
                  Feldolgozva
                  <button @click="torolUzenet(uzenet.uzenetID)">Törlés</button>
                </span>
              </li>
            </ul>
          </div>
        </div>

        <div>
          <!-- Modális ablak -->

          <button @click="showAdminModal = true">
            Admin jogosultság kezelése
          </button>
        </div>

        <div v-if="showAdminModal" class="modal">
          <div class="admin-modal-content">
            <h2>Admin jogosultság kezelése</h2>

            <input
              type="text"
              v-model="adminSearchQuery"
              placeholder="Keresés név alapján..."
              class="search-input"
            />

            <div class="scrollable-list">
              <ul class="admin-list">
                <li
                  v-for="resztvevo in filteredAdminok"
                  :key="resztvevo.rvID"
                  class="admin-list-item"
                >
                  <span class="admin-nev">
                    {{ resztvevo.rvNEV }} – {{
                    getSzervezetNevById(resztvevo.rvSzervezetID) }}
                  </span>
                  <button
                    v-if="resztvevo.isAdmin"
                    @click="deleteAdmin(resztvevo.rvID)"
                    class="admin-btn admin-remove"
                    title="Admin jog eltávolítása"
                  >
                    −
                  </button>
                  <button
                    v-else
                    @click="addAdmin(resztvevo.rvID)"
                    class="admin-btn admin-add"
                    title="Admin jog hozzáadása"
                  >
                    +
                  </button>
                </li>
              </ul>
              <div v-if="filteredAdminok.length === 0">
                Nincs találat a felhasználók közt.
              </div>
            </div>

            <button @click="showAdminModal = false" class="close-btn">
              Bezárás
            </button>
          </div>
        </div>

        <button @click="showSzervezetModal = true">
          Szervezeti egység hozzáadása
        </button>
        <div v-if="showSzervezetModal" class="modal">
          <h2>Szervezeti egység hozzáadása</h2>
          Melyik szervezet alá tartozik az új szervezeti egységet?
          <div>
            <h3 @click="toggleSzervezetValasztas" style="cursor: pointer">
              Szervezet kiválasztása
              <span>{{ isSzervezetValasztasOpen ? '-' : '+' }}</span>
            </h3>
            <ul v-if="isSzervezetValasztasOpen">
              <tree-item
                v-for="szervezet in szervezetek"
                :key="szervezet.szervezetID"
                :item="szervezet"
                :selected-id="selectedSzervezet"
                @select="selectedSzervezet = $event"
              ></tree-item>
            </ul>
            <p>
              Kiválasztott szervezet: {{ getSzervezetNevById(selectedSzervezet)
              }}
            </p>
          </div>
          <input
            type="text"
            v-model="szervezetNev"
            placeholder="Szervezeti egység neve"
          />
          <button @click="addSzervezet(selectedSzervezet, szervezetNev)">
            Hozzáadás
          </button>
          <button @click="showSzervezetModal = false">Bezárás</button>
        </div>
        <!--Résztvevők adatfrissítése-->
        <div>
          <button @click="showAdatModal=true">
            Résztvevő adatainak módosítása
          </button>
        </div>
        <!-- Résztvevő kiválasztása -->
        <div v-if="showAdatModal" class="modal">
          <h3>Résztvevő adatainak módosítása</h3>

          <label for="resztvevoSelect">Válassz résztvevőt:</label>
          <select v-model="kivalasztottID" @change="betoltAdatok">
            <option value="">-- Válassz --</option>
            <option v-for="r in resztvevok" :key="r.rvID" :value="r.rvID">
              {{ r.rvNEV }} ({{ r.rvEmail }})
            </option>
          </select>

          <div v-if="kivalasztottAdatok">
            <h3>Eredeti adatok:</h3>
            <ul>
              <li>Név: {{ kivalasztottAdatok.rvNEV }}</li>
              <li>Email: {{ kivalasztottAdatok.rvEmail }}</li>
              <li>Felhasználónév: {{ kivalasztottAdatok.rvFelhasznalonev }}</li>
              <li>
                Végzettség: {{
                getVegzetsegSzoveg(kivalasztottAdatok.rvVegzetseg) }}
              </li>
            </ul>

            <h3>Új adatok (csak amit módosítani szeretnél):</h3>
            <input v-model="ujAdatok.rvNEV" placeholder="Új név" /><br />
            <input v-model="ujAdatok.rvEmail" placeholder="Új email" /><br />
            <input
              v-model="ujAdatok.rvFelhasznalonev"
              placeholder="Új felhasználónév"
            /><br />
            <select v-model="ujAdatok.rvVegzetseg" id="tesztSelect">
              <option disabled value="">Válassz végzettséget</option>
              <option value="1">BSc</option>
              <option value="2">MSc</option>
              <option value="3">PhD</option>
            </select>
            <br />

            <button @click="mentes">Mentés</button>
          </div>
          <button @click="showAdatModal = false">Bezárás</button>
        </div>
        <!-- Feldolgozva modal -->
        <div v-if="showFeldolgozvaModal" class="modal">
          <h3>Üzenet feldolgozása</h3>
          <p><strong>Üzenet tartalma:</strong></p>
          <p>{{ feldolgozandoUzenet.tartalom }}</p>
          <textarea
            v-model="feldolgozandoUzenet.valasz"
            placeholder="Írd be a visszajelzést..."
          ></textarea>
          <button @click="mentesValasz">Visszajelzés mentése</button>
          <button @click="showFeldolgozvaModal = false">Mégse</button>
        </div>
      </div>
    </div>

    <script>
      Vue.component("tree-item", {
        props: ["item", "selectedId"],
        data() {
          return {
            isOpen: false, // A kibontás állapota
          };
        },
        computed: {
          hasChildren() {
            return this.item.children && this.item.children.length > 0;
          },
          isSelected() {
            return this.item.szervezetID === this.selectedId;
          },
        },
        methods: {
          toggle() {
            this.isOpen = !this.isOpen;
          },
          select() {
            this.$emit("select", this.item.szervezetID);
          },
        },
        template: `
                  <li :class="{ selected: isSelected }">
                    <div @click="toggle" style="cursor: pointer;">
                      <span v-if="hasChildren">{{ isOpen ? '-' : '+' }}</span>
                      <span @click.stop="select">{{ item.szervezetNEV }}</span>
                    </div>
                    <ul v-if="isOpen && hasChildren">
                      <tree-item
                        v-for="child in item.children"
                        :key="child.szervezetID"
                        :item="child"
                        :selected-id="selectedId"
                        @select="$emit('select', $event)"
                      ></tree-item>
                    </ul>
                  </li>
                `,
      });

      ///////////////////////////////////////////////////////////////////////////////////////////////////////
      new Vue({
        el: "#admin",

        data() {
          return {
            user: null,
            auth: false,
            rvID: null, // Az admin hozzáadandó felhasználó azonosítója
            nemAdminok: [], // Nem admin résztvevők listája
            adminok: [], // Admin résztvevők listája
            uzenetek: [], // Üzenet a felhasználóktól
            szervezetek: [], // Szervezetek listája
            szervezetNev: "", // Új szervezeti egység neve
            selectedSzervezet: null, // Kiválasztott szervezet az új szervezeti egységhez
            showModal: false, // Modális ablak megjelenítése
            showAdminModal: false, // Adminok modális ablak megjelenítése
            showSzervezetModal: false, // Szervezeti egység modális ablak megjelenítése
            showAdatModal: false, // Résztvevő adatainak módosítása modális ablak megjelenítése
            showFeldolgozvaModal: false, // A modális ablak megjelenítéséhez
            feldolgozandoUzenet: {
              tartalom: "",
              valasz: "",
              uzenetID: null,
            }, // Az aktuálisan feldolgozandó üzenet
            szervezetID: null, // Szervezeti egység azonosítója
            searchQuery: "",
            adminSearchQuery: "",
            isSzervezetValasztasOpen: false, // Szervezet választás állapota
            resztvevok: [],
            kivalasztottID: "",
            kivalasztottAdatok: null,
            ujAdatok: {
              rvNEV: "",
              rvEmail: "",
              rvFelhasznalonev: "",
              rvVegzetseg: "",
            },
          };
        },
        computed: {
          filteredNemAdminok() {
            const query = this.searchQuery.toLowerCase();
            return this.nemAdminok.filter((resztvevo) =>
              resztvevo.rvNEV.toLowerCase().includes(query)
            );
          },
          filteredAdminok() {
            const query = this.adminSearchQuery.toLowerCase();
            return this.resztvevok.filter(
              (resztvevo) =>
                resztvevo.rvID !== this.user.rvID && // Kizárjuk a bejelentkezett felhasználót
                resztvevo.rvNEV.toLowerCase().includes(query) // Szűrés név alapján
            );
          },
        },
        mounted() {
          this.fetchSzervezetek(); // Az oldal betöltődésekor letöltjük a szervezeteket
          this.checkLoginStatus();
        },
        methods: {
          async checkLoginStatus() {
            try {
              const res = await axios.get("http://localhost:3000/api/user", {
                withCredentials: true, // Kérem a cookie-kat a kéréshez
              });
              this.user = res.data;
              this.auth = true;
              this.refreshData(); // Frissítjük az adatokat bejelentkezés után
            } catch (err) {
              this.auth = false;
              this.user = null;
              this.refreshData(); // Töröljük az adatokat kijelentkezés után
            }
          },
          openLoginWindow() {
            const width = 450;
            const height = 500;
            const left = (window.screen.width - width) / 2;
            const top = (window.screen.height - height) / 2 - 100;
            const loginWindow = window.open(
              "login.html",
              "Bejelentkezés",
              `width=${width},height=${height},left=${left},top=${top},resizable=no,scrollbars=no`
            );

            // Figyeljük, hogy a bejelentkezés sikeres-e
            const interval = setInterval(() => {
              if (loginWindow.closed) {
                clearInterval(interval);
                this.checkLoginStatus(); // Ellenőrizzük a bejelentkezési állapotot
              }
            }, 500);
          },
          login() {
            const width = 450;
            const height = 500;
            const left = (window.screen.width - width) / 2;
            const top = (window.screen.height - height) / 2 - 100;
            const loginWindow = window.open(
              "login.html",
              "Bejelentkezés",
              `width=${width},height=${height},left=${left},top=${top},resizable=no,scrollbars=no`
            );

            // Figyeljük, hogy a bejelentkezés sikeres-e
            const interval = setInterval(() => {
              if (loginWindow.closed) {
                clearInterval(interval);
                this.checkLoginStatus(); // Ellenőrizzük a bejelentkezési állapotot
                this.refreshData(); // Frissítjük az adatokat bejelentkezés után
              }
            }, 500);
          },
          async logout() {
            try {
              await axios.post(
                "http://localhost:3000/api/logout",
                {},
                {
                  withCredentials: true,
                }
              );
              window.location.href = "index.html"; // Visszairányítás a főoldalra kijelentkezés után
            } catch (err) {
              console.error("Kijelentkezési hiba:", err);
            }
          },
          goToIndex() {
            window.location.href = "index.html"; // Visszairányítás a főoldalra
          },
          async fetchNemAdminok() {
            try {
              const res = await axios.get(
                "http://localhost:3000/api/nemAdmin",
                {
                  withCredentials: true,
                }
              );
              this.nemAdminok = res.data;
            } catch (err) {
              console.error("Hiba a nem admin résztvevők lekérésekor:", err);
            }
          },

          async addAdmin(rvID) {
            try {
              const res = await axios.post(
                "http://localhost:3000/api/addAdmin",
                { rvID },
                { withCredentials: true }
              );
              alert(res.data.message);
              this.refreshData(); // Frissítjük az adatokat
            } catch (err) {
              console.error("Hiba az admin jogosultság hozzáadásakor:", err);
              alert("Hiba történt az admin jogosultság hozzáadásakor.");
            }
          },
          async fetchAdminok() {
            try {
              const res = await axios.get("http://localhost:3000/api/adminok", {
                withCredentials: true,
              });
              this.adminok = res.data;
            } catch (err) {
              console.error("Hiba az adminok lekérésekor:", err);
            }
          },
          async deleteAdmin(rvID) {
            try {
              const res = await axios.post(
                "http://localhost:3000/api/deleteAdmin",
                { rvID },
                { withCredentials: true }
              );
              alert(res.data.message);
              this.refreshData(); // Frissítjük az adatokat
            } catch (err) {
              console.error("Hiba az admin jogosultság megszüntetésekor:", err);
              alert("Hiba történt az admin jogosultság megszüntetésekor.");
            }
          },
          async fetchUzenetek() {
            try {
              const res = await axios.get(
                "http://localhost:3000/api/uzenetek",
                {
                  withCredentials: true,
                }
              );
              this.uzenetek = res.data;
            } catch (err) {
              console.error("Hiba az üzenetek lekérésekor:", err);
            }
          },
          async elolvasva(uzenetID) {
            try {
              const res = await axios.post(
                "http://localhost:3000/api/elolvasva",
                { uzenetID }, // Az üzenet ID-t elküldjük a backendnek
                { withCredentials: true }
              );
              alert(res.data.message);
              this.refreshData(); // Frissítjük az adatokat
            } catch (err) {
              console.error("Hiba az üzenet elolvasásakor:", err);
              alert("Hiba történt az üzenet elolvasásakor.");
            }
          },
          feldolgozva(uzenetID) {
            const uzenet = this.uzenetek.find((u) => u.uzenetID === uzenetID);
            if (uzenet) {
              this.feldolgozandoUzenet = { ...uzenet }; // Másolatot készítünk az üzenetről
              this.showFeldolgozvaModal = true; // Megnyitjuk a modális ablakot
            } else {
              console.error(
                "Nem található az üzenet az adott ID-val:",
                uzenetID
              );
            }
          },
          async torolUzenet(uzenetID) {
            try {
              const res = await axios.post(
                "http://localhost:3000/api/torolUzenet",
                { uzenetID },
                { withCredentials: true }
              );
              alert(res.data.message);
              this.refreshData(); // Frissítjük az adatokat
            } catch (err) {
              console.error("Hiba az üzenet törlésekor:", err);
              alert("Hiba történt az üzenet törlésekor.");
            }
          },
          async mentesValasz() {
            console.log("Mentés előtt:", this.feldolgozandoUzenet);
            if (
              !this.feldolgozandoUzenet.uzenetID ||
              !this.feldolgozandoUzenet.valasz
            ) {
              alert("Kérjük, töltsd ki a visszajelzést!");
              return;
            }

            try {
              const res = await axios.post(
                "http://localhost:3000/api/mentesValasz",
                {
                  uzenetID: this.feldolgozandoUzenet.uzenetID,
                  valasz: this.feldolgozandoUzenet.valasz,
                },
                { withCredentials: true }
              );
              alert(res.data.message);
              this.showFeldolgozvaModal = false;
              this.refreshData(); // Frissítjük az adatokat
            } catch (err) {
              console.error("Hiba a visszajelzés mentésekor:", err);
              alert("Hiba történt a visszajelzés mentésekor.");
            }
          },
          //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
          // Szervezeti egység hozzáadása
          async addSzervezet(selectedSzervezet, szervezetNev) {
            if (!selectedSzervezet || !this.szervezetNev) {
              alert(
                "Kérjük, válasszon ki egy szervezetet és adja meg a nevet."
              );
              return;
            }
            try {
              const res = await axios.post(
                "http://localhost:3000/api/addSzervezet",
                { selectedSzervezet, szervezetNev },
                { withCredentials: true }
              );
              alert(res.data.message);
              this.refreshData(); // Frissítjük az adatokat
            } catch (err) {
              console.error("Hiba a szervezeti egység hozzáadásakor:", err);
              alert("Hiba történt a szervezeti egység hozzáadásakor.");
            }
          },

          // API hívás a szervezetek listájának lekéréséhez
          async fetchSzervezetek() {
            try {
              const response = await axios.get(
                "http://localhost:3000/api/szervezetek"
              );
              const flatData = response.data;

              // Hierarchikus struktúra létrehozása
              const map = {};
              flatData.forEach((item) => {
                map[item.szervezetID] = { ...item, children: [] };
              });

              const tree = [];
              flatData.forEach((item) => {
                if (item.felettesID) {
                  map[item.felettesID].children.push(map[item.szervezetID]);
                } else {
                  tree.push(map[item.szervezetID]);
                }
              });

              this.szervezetek = tree;
            } catch (error) {
              console.error("Hiba a szervezetek lekérésekor", error);
            }
          },
          // Szervezet választás kibontás/összecsukás
          toggleSzervezetValasztas() {
            this.isSzervezetValasztasOpen = !this.isSzervezetValasztasOpen;
          },
          getSzervezetNevById(id) {
            const findSzervezet = (szervezetek, id) => {
              for (const szervezet of szervezetek) {
                if (szervezet.szervezetID === id) {
                  return szervezet.szervezetNEV;
                }
                if (szervezet.children && szervezet.children.length > 0) {
                  const nev = findSzervezet(szervezet.children, id);
                  if (nev) return nev;
                }
              }
              return null;
            };
            return findSzervezet(this.szervezetek, id) || "Nincs kiválasztva";
          },

          getVegzetsegSzoveg(vegzetseg) {
            const vegzetsegSzoveg = {
              1: "BSc",
              2: "MSc",
              3: "PhD",
            };
            return vegzetsegSzoveg[vegzetseg] || "Ismeretlen";
          },
          refreshData() {
            if (this.auth) {
              this.fetchNemAdminok();
              this.fetchAdminok(); // Adminok betöltése is
              this.fetchUzenetek(); // Üzenetek betöltése
              this.fetchSzervezetek(); // Szervezetek betöltése
              this.betoltResztvevok(); // Résztvevők betöltése
            } else {
              this.nemAdminok = [];
              this.adminok = [];
              this.uzenetek = []; // Üzenetek törlése kijelentkezés után
              this.szervezetek = []; // Szervezetek törlése kijelentkezés után
              this.resztvevok = []; // Résztvevők törlése kijelentkezés után
            }
          },
          //////// Résztvevők adatainak módosítása
          async betoltResztvevok() {
            try {
              const res = await axios.get(
                "http://localhost:3000/api/resztvevok",
                { withCredentials: true }
              );
              this.resztvevok = res.data;
            } catch (err) {
              console.error("Hiba a résztvevők betöltésekor:", err);
            }
          },
          async betoltAdatok() {
            if (!this.kivalasztottID) return;
            try {
              const res = await axios.get(
                `http://localhost:3000/api/resztvevo/${this.kivalasztottID}`,
                { withCredentials: true }
              );
              this.kivalasztottAdatok = res.data;
              this.ujAdatok = {
                rvNEV: "",
                rvEmail: "",
                rvFelhasznalonev: "",
                rvVegzetseg: "",
              };
            } catch (err) {
              console.error("Hiba az adatok betöltésekor:", err);
            }
          },
          async mentes() {
            const modositott = {};
            for (const key in this.ujAdatok) {
              const val = this.ujAdatok[key];
              if (val !== "" && val !== null) {
                modositott[key] = val;
              }
            }

            if (Object.keys(modositott).length === 0) {
              alert("Nem adtál meg módosítandó mezőt.");
              return;
            }

            try {
              await axios.put(
                `http://localhost:3000/api/updateResztvevo/${this.kivalasztottID}`,
                modositott,
                {
                  withCredentials: true,
                }
              );
              alert("Sikeres módosítás!");
              this.betoltAdatok();
            } catch (err) {
              console.error("Hiba a frissítéskor:", err);
              alert("Hiba történt a módosítás során.");
            }
          },
        },
        messageListener(event) {
          if (event.data === "loginSuccess") {
            this.checkLoginStatus(); // Ellenőrizzük a bejelentkezési állapotot
            this.refreshData(); // Frissítjük az adatokat bejelentkezés után
          }
        },

        created() {
          this.checkLoginStatus(); // Ellenőrizzük a bejelentkezési állapotot
          this.fetchNemAdminok(); // Nem admin résztvevők lekérése
          this.fetchAdminok(); // Admin résztvevők lekérése
          this.fetchUzenetek(); // Üzenetek lekérése
          this.fetchSzervezetek(); // Szervezetek lekérése
          this.betoltResztvevok(); // Résztvevők lekérése
          window.addEventListener("message", this.messageListener); // Üzenet figyelése
        },
      });
    </script>
  </body>
</html>
